body {
    height: 100vh;
    background-color: #f39c12;
    display: grid;
    place-items: center;
    color: #ffffff;
}

main {
    text-align: center;
    padding: 30px;
    background-color: #e67e22;
    border-radius: 10px;
}

.verify.expired {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 100px;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f39c12;
}

.verify__icon {
    font-size: 50px;
    color: #ffffff;
}

h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}
p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
a {
    --width: 200px;
    --height: 60px;
    font-size: 16px;
    font-weight: 500;
    margin: 20px auto 0;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}
a:hover {
    background-color: #d35400;
}
button {
    --width: 200px;
    --height: 60px;

    width: var(--width);
    height: var(--height);

    font-size: 16px;
    font-weight: 500;

    margin: 20px auto 0;
    background-color: #f39c12;
    color: #ffffff;

    border: none;
    border-radius: 10px;
    cursor: pointer;

    transition: all 0.2s ease;
}

/* Hover */
button:hover {
    background-color: #d35400;
}

/* Khi nhấn */
button:active {
    transform: scale(0.97);
}

/* Khi disabled (nếu sau này bạn dùng) */
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
